<!DOCTYPE html>
<html ng-app="PhoneBook">
<head>
    <title>PhoneBook</title>

    <link rel="stylesheet" type="text/css" href="../lib/bootstrap.min.css">
</head>
<body class="container">
    <div ng-controller="PhoneController">
        <h3>PhoneBook</h3>

        <h4>Search</h4>
        <input type="text" ng-model="filter.name"/>

        <ul class="list-unstyled">
            <li ng-repeat="person in persons | filter: filter.name | orderBy: 'name'">
                {{ person.name}} - {{ person.phoneNumber }} - <button ng-click="deletePerson(person.name, person.id)">Delete</button>
            </li>
        </ul>

        <h4>Add Person</h4>
        Name: <input type="text" ng-model="newPerson.name"/>
        Phone Number: <input type="text" ng-model="newPerson.phoneNumber"/>
        <button ng-click="addPerson()">Add Person</button>
    </div>
    <script type="text/javascript" src="../lib/angular.min.js"></script>
    <script type="text/javascript" src="../js/app.js"></script>
</body>
</html>
